<h1>Welcome to Hanoi Roadhouse</h1>

<% if @food_items.present? %>
  <%= render @food_items %>
<% elsif params[:search] %>
  <p>There are no food item containing the term(s) <%= params[:search] %>.</p>
<% end %>
