@import "bootstrap";
/*
 *= require jquery-tablesorter/<theme name>
 */
h1 {
  text-align: center;
}

body {
 background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/checkered_pattern.png');
 background-repeat: repeat;
}
